{%  extends("layout.html.twig")%}

{% block title%}Are you sure?{% endblock %}
{%  block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/styleAdd.css') }}"/>
{% endblock %}
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    </nav>
    <h1 class="cent">Are you sure you want to quit el JAW ?</h1>
    <a class="btn btn-lg btn-primary halfs" href="{{ path('deleteaccount') }}">I want to proceed.</a>
    <a class="btn btn-outline-secondary halfs" href="{{ path('account') }}">Go back to account settings</a>
{% endblock %}