{% extends 'base.html.twig' %}

{% block title %}Activities{% endblock %}

{% block body %}
{% for activity in activities  %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <
            <h5 class="card-title" >{{activity.name }}</h5>
            <p class="card-text">{{ activity.description }}</p>
        </div>

        <div class="card-body">
            <a href="{{ path('account.activities',{'type':"place"}) }}" class="card-link">Modify</a>
            <a href="#" class="card-link">Delete</a>
        </div>
    </div>
{% endblock %}