{% extends 'layout.html.twig' %}
{% block stylesheet%}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/styleAdd.css') }}"/>
{% endblock %}
{%  block body %}
    <div class="container">
    <div class="jumbotron">
        <h2>Ajout d'un plan</h2>
            <br>
            <div  id="change_color">
                <div class="circle"></div>
                <legend id="leg">My plan</legend>
            </div>
            <div id="menu">
                <div class="circle" id="red"></div>
                <div class="circle" id="blue"></div>
                <div class="circle" id="green"></div>
                <div class="circle" id="yellow"></div>
            </div>
            <br>
            {% block form %}{{ form(form) }}{% endblock %}
            <br>

            <button type="button" class="btn btn-primary">Submit</button>
        </div>
    </div>

    <script src="{{ asset('assets/js/plans.js') }}"></script>
{% endblock %}