{% extends 'search/findPlanslayout.html.twig' %}

{% block form %}
    {{ form(placeOptions) }}
{% endblock %}

{% block card%}
    <!--Endroit Card-->
    {% for place in places %}
        <div class="col-6 col-md-6 col-lg-4 mb-3">
            <div class="col">
                <div class="card">
                    <img src="assets/photos/restocard.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5>Restaurant</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta facilis voluptatibus laudantium nostrum qui magnam facere eligendi! Tempora maiores beatae corporis nam fugit, ut molestias cumque, explicabo ipsa voluptatem quo!</p>
                        <p>City:</p>
                        <button type="button" class="btn btn-dark rounded">Details</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}